<PAMDataset>
  <PAMRasterBand band="1">
    <Metadata>
      <MDI key="STATISTICS_MINIMUM">57.199057292931</MDI>
      <MDI key="STATISTICS_MAXIMUM">753.16072919885</MDI>
      <MDI key="STATISTICS_MEAN">332.32956638308</MDI>
      <MDI key="STATISTICS_STDDEV">154.82703741164</MDI>
      <MDI key="STATISTICS_SKIPFACTORX">1</MDI>
      <MDI key="STATISTICS_SKIPFACTORY">1</MDI>
      <MDI key="STATISTICS_EXCLUDEDVALUES"></MDI>
      <MDI key="STATISTICS_COVARIANCES">23971.4115136651</MDI>
    </Metadata>
  </PAMRasterBand>
</PAMDataset>
