<PAMDataset>
  <PAMRasterBand band="1">
    <Metadata>
      <MDI key="STATISTICS_MINIMUM">56.087421800709</MDI>
      <MDI key="STATISTICS_MAXIMUM">702.46945544099</MDI>
      <MDI key="STATISTICS_MEAN">313.60890903393</MDI>
      <MDI key="STATISTICS_STDDEV">144.21214911092</MDI>
      <MDI key="STATISTICS_SKIPFACTORX">1</MDI>
      <MDI key="STATISTICS_SKIPFACTORY">1</MDI>
      <MDI key="STATISTICS_EXCLUDEDVALUES"></MDI>
      <MDI key="STATISTICS_COVARIANCES">20797.1439511898</MDI>
    </Metadata>
  </PAMRasterBand>
</PAMDataset>
