<PAMDataset>
  <PAMRasterBand band="1">
    <Metadata>
      <MDI key="STATISTICS_MINIMUM">59.568112777884</MDI>
      <MDI key="STATISTICS_MAXIMUM">864.17432324733</MDI>
      <MDI key="STATISTICS_MEAN">365.963586102</MDI>
      <MDI key="STATISTICS_STDDEV">168.2039041462</MDI>
      <MDI key="STATISTICS_SKIPFACTORX">1</MDI>
      <MDI key="STATISTICS_SKIPFACTORY">1</MDI>
      <MDI key="STATISTICS_EXCLUDEDVALUES"></MDI>
      <MDI key="STATISTICS_COVARIANCES">28292.5533700234</MDI>
    </Metadata>
  </PAMRasterBand>
</PAMDataset>
