<PAMDataset>
  <PAMRasterBand band="1">
    <Metadata>
      <MDI key="STATISTICS_MINIMUM">58.750333402252</MDI>
      <MDI key="STATISTICS_MAXIMUM">721.65513279487</MDI>
      <MDI key="STATISTICS_MEAN">329.18993131953</MDI>
      <MDI key="STATISTICS_STDDEV">147.34517635952</MDI>
      <MDI key="STATISTICS_SKIPFACTORX">1</MDI>
      <MDI key="STATISTICS_SKIPFACTORY">1</MDI>
      <MDI key="STATISTICS_EXCLUDEDVALUES"></MDI>
      <MDI key="STATISTICS_COVARIANCES">21710.6009964174</MDI>
    </Metadata>
  </PAMRasterBand>
</PAMDataset>
