<PAMDataset>
  <PAMRasterBand band="1">
    <Metadata>
      <MDI key="STATISTICS_MINIMUM">60.228713785459</MDI>
      <MDI key="STATISTICS_MAXIMUM">784.53793327899</MDI>
      <MDI key="STATISTICS_MEAN">349.63832621479</MDI>
      <MDI key="STATISTICS_STDDEV">170.05959246961</MDI>
      <MDI key="STATISTICS_SKIPFACTORX">1</MDI>
      <MDI key="STATISTICS_SKIPFACTORY">1</MDI>
      <MDI key="STATISTICS_EXCLUDEDVALUES"></MDI>
      <MDI key="STATISTICS_COVARIANCES">28920.2649909304</MDI>
    </Metadata>
  </PAMRasterBand>
</PAMDataset>
