<PAMDataset>
  <PAMRasterBand band="1">
    <Metadata>
      <MDI key="STATISTICS_MINIMUM">81.12880689204</MDI>
      <MDI key="STATISTICS_MAXIMUM">889.55636035298</MDI>
      <MDI key="STATISTICS_MEAN">424.48745046991</MDI>
      <MDI key="STATISTICS_STDDEV">178.75392886486</MDI>
      <MDI key="STATISTICS_SKIPFACTORX">1</MDI>
      <MDI key="STATISTICS_SKIPFACTORY">1</MDI>
      <MDI key="STATISTICS_EXCLUDEDVALUES"></MDI>
      <MDI key="STATISTICS_COVARIANCES">31952.967084625</MDI>
    </Metadata>
  </PAMRasterBand>
</PAMDataset>
