<PAMDataset>
  <PAMRasterBand band="1">
    <Metadata>
      <MDI key="STATISTICS_MINIMUM">51.709222181949</MDI>
      <MDI key="STATISTICS_MAXIMUM">715.73048304483</MDI>
      <MDI key="STATISTICS_MEAN">303.11471714638</MDI>
      <MDI key="STATISTICS_STDDEV">147.938220221</MDI>
      <MDI key="STATISTICS_SKIPFACTORX">1</MDI>
      <MDI key="STATISTICS_SKIPFACTORY">1</MDI>
      <MDI key="STATISTICS_EXCLUDEDVALUES"></MDI>
      <MDI key="STATISTICS_COVARIANCES">21885.7170021558</MDI>
    </Metadata>
  </PAMRasterBand>
</PAMDataset>
