<PAMDataset>
  <PAMRasterBand band="1">
    <Metadata>
      <MDI key="STATISTICS_MINIMUM">77.586614056299</MDI>
      <MDI key="STATISTICS_MAXIMUM">889.08190133722</MDI>
      <MDI key="STATISTICS_MEAN">431.92240803719</MDI>
      <MDI key="STATISTICS_STDDEV">184.24836407601</MDI>
      <MDI key="STATISTICS_SKIPFACTORX">1</MDI>
      <MDI key="STATISTICS_SKIPFACTORY">1</MDI>
      <MDI key="STATISTICS_EXCLUDEDVALUES"></MDI>
      <MDI key="STATISTICS_COVARIANCES">33947.4596646869</MDI>
    </Metadata>
  </PAMRasterBand>
</PAMDataset>
