<PAMDataset>
  <PAMRasterBand band="1">
    <Metadata>
      <MDI key="STATISTICS_MINIMUM">73.83484774591</MDI>
      <MDI key="STATISTICS_MAXIMUM">942.79591334774</MDI>
      <MDI key="STATISTICS_MEAN">418.14221055435</MDI>
      <MDI key="STATISTICS_STDDEV">187.8323927267</MDI>
      <MDI key="STATISTICS_SKIPFACTORX">1</MDI>
      <MDI key="STATISTICS_SKIPFACTORY">1</MDI>
      <MDI key="STATISTICS_EXCLUDEDVALUES"></MDI>
      <MDI key="STATISTICS_COVARIANCES">35281.0077574354</MDI>
    </Metadata>
  </PAMRasterBand>
</PAMDataset>
