<PAMDataset>
  <PAMRasterBand band="1">
    <Metadata>
      <MDI key="STATISTICS_MINIMUM">71.003370860482</MDI>
      <MDI key="STATISTICS_MAXIMUM">888.13305569796</MDI>
      <MDI key="STATISTICS_MEAN">413.98627644188</MDI>
      <MDI key="STATISTICS_STDDEV">190.61104337761</MDI>
      <MDI key="STATISTICS_SKIPFACTORX">1</MDI>
      <MDI key="STATISTICS_SKIPFACTORY">1</MDI>
      <MDI key="STATISTICS_EXCLUDEDVALUES"></MDI>
      <MDI key="STATISTICS_COVARIANCES">36332.5698575013</MDI>
    </Metadata>
  </PAMRasterBand>
</PAMDataset>
